.projects {
    width: 100%;
    height: 900px;
    
    
    color: #E5E5E5;

    font-family: Gothic A1;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.title {
    color: var(--Style, #E5BD63);
    font-family: Gothic A1;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.description {
    color: #D0D0D0;
    font-feature-settings: 'liga' off;
    font-family: Gothic A1;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;

}

 .box {
    padding: 10px;
    overflow: hidden;
    position: relative;
}

 .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(96 96 96 / 50%);
    width: calc(100% - 21px);
    height: calc(100% - 21px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translate(calc(-100% - 11px));
}

 .box:hover::before {
    transform: translate(0);
}

