.Home-Banner {
    width: 100%;
    height: 900px;
    
    
    color: #E5E5E5;



}

.Home-Banner .banner-image {
    background: url("../../../../Images/notDecoration/WhatsApp\ Image\ 2024-01-25\ at\ 9.00.01\ AM\ \(5\).jpeg"), lightgray ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;
}



.Home-Banner h1{
    color: #E5E5E5;
    font-family: Gothic A1;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Home-Banner p{
    color: #E5E5E5;
    font-family: Gothic A1;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* .Banner-Content {
    padding-right: 100px;
    padding-top: 18rem;
} */